@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Nanum+Brush+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coming Soon", cursive;
}

body{
    transition: 1s;
    background-color: #81ecec;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
}

button{
    display: block;
    background-color: black;
    color: white;
    border-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

#qrcode {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
